table{
    /* background: lightblue; */
    border: 3px solid black; 
    width: 400px;height: 300px;
    text-align: center;
    margin: 20px;
    margin-left: 500px;
    margin-top: 300px;
     border-radius: 30px; 
    background-image: url("/images/boxer-shorts-4591082_640\ \(1\).jpg");
    background-size: contain;
    outline: none;
    /* border-collapse: collapse; */
    padding: 10px;
    font-family: cursive;
    align-content: center;
}
tr{
    color:black;
    /* border-collapse: collapse; */
    padding: 10px;
    font-family: cursive;
    border-radius: 30px; 
}

/* body{
    background-image: url("/images/halloween-4582988_640.jpg");
    background-size:  cover;

} */
th{
    color: black;
    /* border-collapse: collapse; */
    padding: 10px;
    font-family: cursive;
    background-color: darkkhaki;
    border-radius: 30px; 
}

tr:nth-child(even)
{
    background-color: darksalmon;
}
tr:nth-child(odd)
{
    background-color: darkslategrey;
}
h2{
    text-align: center;
    color: darkslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}