<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Shopping_Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>LoginUserServlet</servlet-name>
		<jsp-file>/LoginUser.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginUserServlet</servlet-name>
		<url-pattern>/loginuserjsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<jsp-file>/RegisterUser.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/adduser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>home</servlet-name>
		<jsp-file>/HomeUser.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/homeuser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>searchprod</servlet-name>
		<jsp-file>/SearchUser.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchprod</servlet-name>
		<url-pattern>/searchproduct</url-pattern>
	</servlet-mapping>
  
  
  
</web-app>